body {
  font-family: Arial, sans-serif;
  margin: 1rem;
  width: 300px;
}

#add_fan_form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 0.25rem;
    font-weight: bold;
  }

  & input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

button.action {
  cursor: pointer;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #004857;
  background-color: #12525f;
  border-radius: 3px;

  &:hover {
    background-color: #1e7e8a;
  }
}

#fan_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
  max-height: 800px;
  overflow-y: auto;

  & .fan {
    padding: 0.5rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    & li {
      font-weight: bold;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    & .remove_fan {
      cursor: pointer;
      color: white;
      padding: 0.5rem 0.5rem;
      border: 1px solid #aa4d4d;
      background-color: #cd5c5c;
      border-radius: 3px;

      &:hover {
        background-color: #e57373;
      }
    }
  }
}
